.admin-card {
  width: 29% !important;
  min-width: 200px !important;
  max-width: 280px !important;
  border-radius: 15px;
  height: 125px;
  border: 1px solid var(--primary-color);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.title {
  color: var(--primary-color);
  text-transform: capitalize;
  font-weight: 500;
}
.price {
  color: var(--secondary-color);
  font-size: 1.7rem;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.cards-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.secondary-card {
  color: var(--primary-color);
}
.admin-table-container {
  width: 29% !important;
  background-color: rgb(255, 238, 227);
  min-width: 280px !important;
  border-radius: 15px;
  max-width: 400px !important;
  padding: 15px;
}

.table-title {
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
}
.table-link {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: lighter;
  color: gray;
}

.admin-table-tr {
  border: none !important;
  color: black;
  font-weight: 500;
  height: 40px;
}
.admin-table-head {
  color: gray;
}
.test {
  height: 100vh;
}
.table-wrapper {
  max-height: 457px;
  height: 75%;
  min-height: 300px;
}
