.admin-card {
  width: 29% !important;
  min-width: 200px !important;
  max-width: 280px !important;
  border-radius: 15px;
  height: 125px;
  background-color: black;
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.title {
  color: white;
  text-transform: capitalize;
  font-weight: 500;
}
.price {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.cards-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.secondary-card {
  background-color: var(--primary-color);
  color: white;
}
