th {
  text-align: center;
}

.cart__img-box {
  display: flex;
}
.cart__img-box span {
  margin-left: 15px;
}
.table > :not(caption) > * > * {
  border-bottom: none;
}
.seller_company {
  font-size: 20px;
  text-transform: uppercase;
}
tr {
  border-bottom: 1px solid var(--primary-color) !important;
}
.addTOCart__btn {
  width: 100%;
}
thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: var(--primary-color) !important;
}
.cart__img-box img {
  width: 80px;
}

.cart__item-del i {
  cursor: pointer;
}

button a:hover {
  color: var(--secondary-color);
  transition: 0.25s;
}

.cart__subtotal {
  color: var(--primary-color);
  font-size: 1.5rem;
}
.card-right-side {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 25px 10px;
  background-color: var(--secondary-color);
}
.order-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 2rem;
  border-bottom: 1px solid var(--primary-color);
}
.fa-turkish-lira-sign {
  font-size: 20px;
  margin-right: 3px;
}
@media only screen and (max-width: 768px) {
  th,
  td {
    font-size: 0.8rem;
  }
}
