.checkout__bill {
  background: var(--primary-color);
  padding: 30px;
  border-radius: 5px;
  color: white;
}
.checkout_company {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
.checkout__total {
  border-top: 1px solid #ddd;
  padding-top: 30px;
}

@media only screen and (max-width: 768px) {
  .checkout__bill h6 {
    font-size: 0.9rem;
  }
  .checkout__bill {
    margin-top: 40px;
  }
}

/* .order-table {
  height: 400px;
  overflow-y: auto;
} */
