.order-right-side {
  width: 100%;
  position: fixed;
  background: var(--secondary-color);
  padding: 20px 10px;
  border-radius: 8px;
  height: 40%;
  overflow-y: auto;
}
.order-right-side-products {
}
.products-title {
  font-size: 1.7rem;
  font-weight: 600;
}
.product {
    padding: 20px 0px;
  -webkit-box-shadow: 0px 4px 0px -3px rgb(0 0 0 / 75%);
  -moz-box-shadow: 0px 4px 0px -3px rgb(0 0 0 / 75%);
  box-shadow: 0px 4px 0px -3px rgb(0 0 0 / 75%);
}
