.order-right-side {
  width: 100%;
  position: fixed;
  background: var(--secondary-color);
  padding: 20px 10px;
  border-radius: 8px;
  height: 40%;
  width: 30% !important;
  overflow-y: auto;
}
.products-title {
  font-size: 1.7rem;
  font-weight: 600;
}
.status-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 7px;
  margin-right: 5px;
}
.product {
  padding: 20px 0px;
  -webkit-box-shadow: 0px 4px 0px -3px rgb(0 0 0 / 75%);
  -moz-box-shadow: 0px 4px 0px -3px rgb(0 0 0 / 75%);
  box-shadow: 0px 4px 0px -3px rgb(0 0 0 / 75%);
}
.variation {
  min-width: 100px;
}